<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Unified inbox</title>
    <link href="/public/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>

    <div class="container px-4 pt-5">
        <h2 class="pb-2 border-bottom">Unified inbox demo</h2>

        {{{body}}}

    </div>

    <script src="/public/js/bootstrap.bundle.min.js"></script>

</body>

</html>